<IfModule mod_headers.c>
  Header set Access-Control-Allow-Credentials "true"
  Header set Access-Control-Allow-Headers "Accept, X-Access-Token, X-Application-Name, X-Request-Sent-Time"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header set Access-Control-Allow-Origin "*"
</IfModule>
